<?php
/*
# Copyright (C) 2008 Ben Webb <dreamer@freedomdreams.co.uk>
# This file is part of AGPLMail.
# 
# AGPLMail is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# AGPLMail is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with AGPLMail.  If not, see <http://www.gnu.org/licenses/>.
*/

$db_host = "localhost";
$db_name = "bjwebb";
$db_pass = "nottellingyouthis";
$db_db = "bjwebb";
$db_prefix = "agplmail_";

$server = "localhost";
$userprefix = "@freedomdreams.co.uk";

$customhome = "Find out more about AGPLMail at our <a href=\"http://freedomdreams.co.uk/wiki/AGPLMail\">wiki page</a>. If you would like to try it out, use the username demo and password password.";

?>
